html {
    overflow-y: scroll;
}

.task-highlighted {
    color: red;
    font-weight: bold;
}

.table-button {
    width: 7em;
}

.table-button-separator {
    margin-top: 8px;
    margin-bottom: 8px;
}

.hide-row {
    opacity: 0;
    transition-property: all;
    transition-duration: 0.25s;
}
.show-row {
    opacity: 100;
    transition-property: all;
    transition-duration: 0.25s;
}

td {
    word-wrap: break-word;
    word-break: break-all;
}