html {
    overflow-y: scroll;
}

.task-highlighted {
    color: red;
    font-weight: bold;
}

.table-button {
    width: 7em;
}

.table-button-separator {
    margin-top: 8px;
    margin-bottom: 8px;
}

td {
    word-wrap: break-word;
    word-break: break-all;
}