html {
    overflow-y: scroll;
}
.view_change_animation.ng-enter,
.view_change_animation.ng-leave {
    opacity: 0;
}

.view_change_animation.ng-leave.view_change_animation.ng-leave-active,
.view_change_animation.ng-enter {
}

.view_change_animation.ng-enter.ng-enter-active,
.view_change_animation.ng-leave {
    
}
.task-highlighted {
    color: red;
    font-weight: bold;
}

.table-button {
    width: 7em;
}

.table-button-separator {
    margin-top: 8px;
    margin-bottom: 8px;
}

.hide-row {
    opacity: 0;
    transition-property: all;
    transition-duration: 0.25s;
}
.show-row {
    opacity: 100;
    transition-property: all;
    transition-duration: 0.25s;
}

td {
    word-wrap: break-word;
    word-break: break-all;
}