<table class="table table-bordered table-condensed">
    <tr>
        <th>Date</th>
        <th>Task</th>
    </tr>
    <tr data-ng-repeat-start="date in calendarCtrl.datesOfMonth">
        <td class="col-xs-3 col-md-2 text-right"
            data-ng-class="{'active':calendarCtrl.isWeekend(date)}"
            rowspan="{{ (calendarCtrl.getTasksOnDate(date) | tagFilter:calendarCtrl.viewState.tagsToFilterBy).length + 1 }}">
            <span data-ng-bind="date | date:'EEEE, M/d'"></span>
            <span data-ng-if="calendarCtrl.isToday(date)"
                  class="badge calendar-badge-today">Today</span>
        </td>
        <td data-ng-if="calendarCtrl.getTasksOnDate(date).length === 0"></td>
    </tr>
    <tr data-ng-if="calendarCtrl.getTasksOnDate(date).length !== 0"
        data-ng-repeat="task in calendarCtrl.getTasksOnDate(date) | tagFilter:calendarCtrl.viewState.tagsToFilterBy | orderBy: 'timestampDue'">
        <td data-ng-class="{'success': task.complete, 'warning' : !task.complete}">
            <span data-ng-if="!task.editing"
                  data-ng-bind="task.timestampDue | date:'h:mm a'"
                  class="small"></span>
            <div class="pull-right">
                <button data-complete-button
                        data-task="task"
                        data-size="btn-sm"
                        style="float:left;"></button>
                <button data-edit-button-compact
                        data-task="task"
                        data-size="btn-sm"
                        style="float:left;"></button>
            </div>
            <br/>

            <div data-ng-if="task.editing">
                <div data-date-input-field
                     data-ng-model="task.taskCopy.timestampDue"
                     data-ng-disabled="task.taskCopy.readOnly"
                     data-config="datePickerConfig"
                     data-field-title="The date the task is scheduled."
                     data-field-placeholder="Date due..."
                     style="max-width: 275px;"></div>
            </div>
            <span data-ng-if="!task.editing"
                  data-ng-bind="task.name"
                  class="task-name"></span>
            <input data-ng-if="task.editing"
                   data-ng-disabled="task.taskCopy.readOnly"
                   data-ng-model="task.taskCopy.name"
                   title="The name of the task."
                   placeholder="Task Name (required)..."
                   class="form-control">
            <div data-subtasks
                 data-ng-if="!task.editing && task.subtasks"
                 data-parent-task="task"
                 data-ng-disabled="task.readOnly"
                 data-size="btn-sm"></div>
            <div data-subtasks
                 data-ng-if="task.editing"
                 data-parent-task="task.taskCopy"
                 data-ng-disabled="task.readOnly"
                 data-size="btn-sm"></div>
            <div data-tags
                 data-ng-if="!task.editing"
                 data-task="task"
                 data-tags-to-filter-by="calendarCtrl.viewState.tagsToFilterBy"></div>
            <div data-tags
                 data-ng-if="task.editing"
                 data-task="task.taskCopy"
                 data-tags-to-filter-by="calendarCtrl.viewState.tagsToFilterBy"></div>
        </td>
    </tr>
    <tr data-ng-repeat-end></tr>
</table>