<table class="table table-bordered table-condensed">
    <tr>
        <th>Date</th>
        <th>Task</th>
    </tr>
    <tr data-ng-repeat-start="date in calendarCtrl.datesOfMonth">
        <td class="col-xs-3 col-md-2 text-right"
            data-ng-class="{'active':calendarCtrl.isWeekend(date)}"
            rowspan="{{ (calendarCtrl.getTasksOnDate(date) | tagFilter:calendarCtrl.viewState.tagsToFilterBy).length + 1 }}">
            <span data-ng-bind="date | date:'EEEE, M/d'"></span>
            <span data-ng-if="calendarCtrl.isToday(date)"
                  class="badge calendar-badge-today">Today</span>
        </td>
        <td data-ng-if="calendarCtrl.getTasksOnDate(date).length === 0"></td>
    </tr>
    <tr data-ng-if="calendarCtrl.getTasksOnDate(date).length !== 0"
        data-ng-repeat="task in calendarCtrl.getTasksOnDate(date) | tagFilter:calendarCtrl.viewState.tagsToFilterBy | orderBy: 'timestampDue'">
        <td data-ng-class="{'success': task.complete, 'warning' : !task.complete}">
                    <span data-ng-bind="task.timestampDue | date:'h:mm a'"
                          class="small"></span>
            <div class="pull-right">
                <button class="btn btn-default btn-xs btn-success-outline"
                        data-ng-click="calendarCtrl.markIncomplete(task)"
                        data-ng-disabled="task.readOnly"
                        data-ng-if="task.complete"
                        title="Mark this task as incompleted.">
                        <span data-ng-if="calendarCtrl.operations.markIncomplete.tasks[task.id].status !== 'LOADING'"
                              class="fa fa-reply"></span>
                        <span data-ng-if="calendarCtrl.operations.markIncomplete.tasks[task.id].status === 'LOADING'"
                              class="fa fa-spin fa-spinner"></span>
                </button>
                <button class="btn btn-default btn-xs btn-success-outline"
                        data-ng-click="calendarCtrl.markComplete(task)"
                        data-ng-disabled="task.readOnly"
                        data-ng-if="!task.complete"
                        title="Mark this task as completed.">
                        <span data-ng-if="calendarCtrl.operations.markComplete.tasks[task.id].status !== 'LOADING'"
                              class="fa fa-check"></span>
                        <span data-ng-if="calendarCtrl.operations.markComplete.tasks[task.id].status === 'LOADING'"
                              class="fa fa-spin fa-spinner"></span>
                </button>
                <button class="btn btn-default btn-xs btn-primary-outline"
                        data-ng-click="calendarCtrl.showEditTask(task)"
                        data-ng-disabled="task.readOnly"
                        data-ng-if="!task.complete"
                        title="Edit the details of this task.">
                        <span class="fa fa-pencil"></span>
                </button>
            </div>
            <br/>
            <span data-ng-bind="task.name"
                  class="task-name"></span>
            <div data-ng-if="task.subtasks"
                 class="row">
                <div class="col-xs-12">
                    <h5>
                        Subtasks
                    </h5>
                </div>
                <div class="col-xs-12">
                    <table class="table table-condensed">
                        <tr data-ng-repeat="subtask in task.subtasks" data-ng-class="{'success': subtask.complete, 'warning' : !subtask.complete}">
                            <td>
                                <button class="btn btn-default btn-xs btn-success-outline"
                                        data-ng-if="!subtask.complete"
                                        data-ng-click="calendarCtrl.markComplete(subtask)"
                                        data-ng-disabled="task.readOnly || subtask.readOnly"
                                        title="Mark this subtask as completed.">
                                        <span data-ng-if="calendarCtrl.operations.markComplete.tasks[subtask.id].status !== 'LOADING'"
                                              class="fa fa-check"></span>
                                        <span data-ng-if="calendarCtrl.operations.markComplete.tasks[subtask.id].status === 'LOADING'"
                                              class="fa fa-spin fa-spinner"></span>
                                </button>
                                <button class="btn btn-default btn-xs btn-success-outline"
                                        data-ng-if="subtask.complete"
                                        data-ng-click="calendarCtrl.markIncomplete(subtask)"
                                        data-ng-disabled="task.readOnly || subtask.readOnly"
                                        title="Mark this subtask as incomplete.">
                                        <span data-ng-if="calendarCtrl.operations.markIncomplete.tasks[subtask.id].status !== 'LOADING'"
                                              class="fa fa-reply"></span>
                                        <span data-ng-if="calendarCtrl.operations.markIncomplete.tasks[subtask.id].status === 'LOADING'"
                                              class="fa fa-spin fa-spinner"></span>
                                </button>
                            </td>
                            <td class="col-xs-11">
                            <span data-ng-bind="subtask.name"
                                  data-ng-class="{'task-highlighted':task.tracking}"></span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div data-tag-display
                 data-tags="task.tags"
                 data-tags-to-filter-by="calendarCtrl.viewState.tagsToFilterBy"></div>
        </td>
    </tr>
    <tr data-ng-repeat-end></tr>
</table>