<table class="table table-bordered table-condensed">
    <tr>
        <th>Task</th>
    </tr>
    <tr data-ng-repeat="task in calendarCtrl.unscheduledTasks = (calendarCtrl.tasks | filter:calendarCtrl.isUnscheduledTask | tagFilter:calendarCtrl.viewState.tagsToFilterBy )">
        <td data-ng-class="{'success': task.complete, 'warning' : !task.complete}">
            <div class="pull-right">
                <button class="btn btn-default btn-xs btn-primary-outline"
                        data-ng-click="calendarCtrl.showEditTask(task)"
                        data-ng-disabled="task.readOnly"
                        data-ng-if="!task.complete"
                        title="Edit the details of this task.">
                        <span class="fa fa-pencil"></span>
                </button>
            </div>
            <br/>
            <span data-ng-bind="task.name"
                  class="task-name"></span>
            <div data-tag-display
                 data-tags="task.tags"
                 data-tags-to-filter-by="calendarCtrl.viewState.tagsToFilterBy"></div>
        </td>
    </tr>
    <tr data-ng-repeat-end></tr>
</table>
<h3 data-ng-if="calendarCtrl.unscheduledTasks.length === 0"
    class="text-center">You have no unscheduled tasks.</h3>