<table class="table table-bordered table-condensed">
    <tr>
        <th>Task</th>
    </tr>
    <tr data-ng-repeat="task in calendarCtrl.unscheduledTasks = (calendarCtrl.tasks | filter:calendarCtrl.isUnscheduledTask | tagFilter:calendarCtrl.viewState.tagsToFilterBy )">
        <td data-ng-class="{'success': task.complete, 'warning' : !task.complete}">
            <div class="pull-right">
                <button data-edit-button
                        data-task="task"
                        data-icon-only="true"
                        data-size="btn-xs"
                        style="float:left;"></button>
            </div>
            <br/>
            <span data-ng-bind="task.name"
                  class="task-name"></span>
            <div data-tag-display
                 data-tags="task.tags"
                 data-tags-to-filter-by="calendarCtrl.viewState.tagsToFilterBy"></div>
        </td>
    </tr>
    <tr data-ng-repeat-end></tr>
</table>
<h3 data-ng-if="calendarCtrl.unscheduledTasks.length === 0"
    class="text-center">You have no unscheduled tasks.</h3>