<div class="row">
    <div class="col-xs-2">
        <div data-ng-include data-src="'modules/task/completed/CompletedTasksActions.html'"></div>
    </div>
    <div class="col-xs-10">
        <div class="row">
            <div class="col-xs-4">
                Created <span data-ng-bind="task.timestampCreated | date:'MMMM dd \'at\' h:mma'"></span>
            </div>
            <div class="col-xs-4">
                Completed <span data-ng-bind="task.timestampCompleted| date:'MMMM dd \'at\' h:mma'"></span>
            </div>
            <div class="col-xs-4 text-right">
                Tracked for
                <a data-ng-click="completedCtrl.viewState.isShowingMinutes = !completedCtrl.viewState.isShowingMinutes"
                   style="cursor: pointer">
                    <span data-ng-if="completedCtrl.viewState.isShowingMinutes"
                          data-ng-bind="(task.totalTimeTracked | msToMinutes) + ' minutes'"></span>
                    <span data-ng-if="!completedCtrl.viewState.isShowingMinutes"
                          data-ng-bind="(task.totalTimeTracked | msToHours:2) + ' hours'"></span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-9">
                        <span data-ng-bind="task.group"
                              class="small task-group"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                    <span data-ng-bind="task.name"
                          class="task-name"
                          data-ng-class="{'task-highlighted':task.tracking}"></span>
            </div>
        </div>
        <div data-tag-display
             data-task="task"
             data-tags-to-filter-by="completedCtrl.viewState.tagsToFilterBy"></div>
    </div>
</div>