<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>Completed Tasks<span class="small"> - tasks that you have completed.</span></h3>
        </div>
    </div>
    <div data-ng-if="completedCtrl.operations.getTasks.status !== 'LOADING'">
        <div class="row">
            <div class="col-xs-12">
                <label>Tags <span class="small"> - Select to filter by specific tags</span></label>
                <div data-tag-display
                     data-tags-to-display="completedCtrl.usedTags"
                     data-tags-to-filter-by="completedCtrl.viewState.tagsToFilterBy"></div>
            </div>
        </div>
        <br/>
        <div data-ng-repeat-start="group in completedCtrl.getUniqueGroups(completedCtrl.tasks)">
            <h3 data-ng-bind="group ? group : 'Ungrouped'"
                class="task-group task-group-heading"></h3>
        </div>
        <div data-ng-repeat="task in completedCtrl.tasks | filter: { complete: true, group: group}:true  | tagFilter:completedCtrl.viewState.tagsToFilterBy | orderBy:completedCtrl.viewState.sortField.value:!completedCtrl.viewState.isAscending">
            <div data-ng-include data-src="'modules/task/completed/CompletedTasksCard.html'"></div>
            <hr data-ng-if="!$last"
                class="hr-small">
            <div data-ng-if="$last"
                 class="task-group-separator"></div>
        </div>
        <div data-ng-repeat-end></div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3 data-ng-if="completedCtrl.operations.getTasks.status === 'LOADING'"
                class="text-center">
                <span class="fa fa-spin fa-spinner"></span> Loading tasks...
            </h3>
            <h3 data-ng-if="completedCtrl.operations.getTasks.status === 'ERROR'"
                class="text-center">
                A server error occurred while loading tasks.
            </h3>
        </div>
    </div>
</div>