<div class="text-center">
    <button class="btn btn-default btn-block btn-success-outline"
        data-ng-click="completedCtrl.markIncomplete(task)"
        data-ng-disabled="task.readOnly"
        title="Mark this task as incompleted.">
        <span data-ng-if="completedCtrl.operations.markIncomplete.tasks[task.id].status !== 'LOADING'"
              class="fa fa-reply"></span>
        <span data-ng-if="completedCtrl.operations.markIncomplete.tasks[task.id].status === 'LOADING'"
              class="fa fa-spin fa-spinner"></span>
        <span class="hidden-xs">Mark Incomplete</span>
    </button>
    <button class="btn btn-default btn-xs btn-block btn-danger-outline"
            data-ng-click="completedCtrl.deleteTask(task)"
            data-ng-disabled="task.readOnly"
            title="Delete this task.">
            <span data-ng-if="completedCtrl.operations.deleteTask.tasks[task.id].status !== 'LOADING'"
                  class="fa fa-trash"></span>
            <span data-ng-if="completedCtrl.operations.deleteTask.tasks[task.id].status === 'LOADING'"
                  class="fa fa-spin fa-spinner"></span>
        <span class="hidden-xs">Delete Task</span>
    </button>

</div>