<div class="row">
    <div class="col-xs-12 text-center">
        <div class="btn-group">
            <button data-ng-click="previousMonth()"
                    class="btn btn-default">
                <span class="fa fa-arrow-left"></span>
            </button>
            <button data-ng-repeat="button in monthButtons"
                    class="btn btn-default"
                    data-ng-class="{'btn-primary':button.id === viewState.selectedMonthIndex}"
                    data-ng-click="setMonth(button.id)">
                <span data-ng-bind="button.label"></span>
            </button>
            <button data-ng-click="nextMonth()"
                    class="btn btn-default">
                <span class="fa fa-arrow-right"></span>
            </button>
        </div>
    </div>
</div>