<!--
author: Joseph Gefroh
-->
<button class="btn btn-danger" data-ng-click="navigation.goTo('/remaining')"
        title="Show the list of incomplete tasks.">
    <span class="glyphicon glyphicon-tasks"></span>
    Show Remaining <span class="badge">{{ (navigation.getTasks()|filter:{isCompleted:false}).length }}</span>
</button>
<button class="btn btn-primary" data-ng-click="navigation.goTo('/completed')"
        title="Show the list of completed tasks."
        style="margin-left: 4px;">
    <span class="glyphicon glyphicon-check"></span>
    Show Completed  <span class="badge">{{ (navigation.getTasks()|filter:{isCompleted:true}).length }}</span>
</button>
<button class="btn btn-info pull-right" data-ng-click="navigation.goTo('/statistics')"
        title="Show statistics about your To Do List."
        style="margin-left: 4px;">
    <span class="glyphicon glyphicon-stats"></span>
    Show Stats
</button>