<div class="container">
    <div class="row">
        <div class="col-xs-12 application-description">
            <h1 class="text-center">Time and Task Tracking at your Fingertips</h1>
            <h3 class="text-center">Enter a hard-to-guess ID to get started.</h3>
            <br/>
            <div class="row">
                <div class="col-xs-12 col-md-offset-4 col-md-4">
                    <div class="input-group-lg">
                        <input data-ng-model="splashCtrl.input.id"
                               class="form-control">
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <button class="btn btn-success btn-lg inline-button"
                            data-ng-click="splashCtrl.useId(splashCtrl.input.id);"
                            title="Get started using the ID above.">
                        Get Started
                    </button>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12 col-md-3">
            <a data-ng-href="#/remaining/{{splashCtrl.input.id}}">
                <h3 class="text-center">
                    <span class="fa fa-list-ol fa-5x"></span>
                    <br/><br/>
                    Add Tasks To Your List
                </h3>
            </a>
        </div>
        <div class="col-xs-12 col-md-3">
            <a data-ng-href="#/completed/{{splashCtrl.input.id}}">
                <h3 class="text-center">
                    <span class="fa fa-check fa-5x"></span>
                    <br/><br/>
                    See Completed Tasks
                </h3>
            </a>
        </div>
        <div class="col-xs-12 col-md-3">
            <a data-ng-href="#/statistics/{{splashCtrl.input.id}}">
                <h3 class="text-center">
                    <span class="fa fa-bar-chart fa-5x"></span>
                    <br/><br/>
                    Review Your Stats
                </h3>
            </a>
        </div>
        <div class="col-xs-12 col-md-3">
            <h3 class="text-center">
                <span class="fa fa-bookmark fa-5x"></span>
                <br/><br/>
                Bookmark To Save
            </h3>
        </div>
    </div>
</div>