<div class="row">
    <div class="col-xs-12">
        <h3>Task Calendar<span class="small"> - view all tasks by date</span></h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div data-month-selector
             data-view-state="calendarCtrl.viewState"></div>
        <table class="table table-condensed">
            <tr>
                <th colspan="2">Feburary 2015</th>
            </tr>
            <tr>
                <th>Date</th>
                <th>Task</th>
            </tr>
            <tr data-ng-repeat-start="date in calendarCtrl.datesOfMonth">
                <td class="col-xs-2"
                    data-ng-class="{'active':calendarCtrl.isWeekend(date)}"
                    rowspan="{{ calendarCtrl.getTasksOnDate(date).length + 1 }}">
                    <span data-ng-bind="date | date:'d EEE'"></span>
                </td>
                <td data-ng-if="calendarCtrl.getTasksOnDate(date).length === 0"></td>
            </tr>
            <tr data-ng-if="calendarCtrl.getTasksOnDate(date).length !== 0"
                data-ng-repeat="task in calendarCtrl.getTasksOnDate(date)">
                <td data-ng-class="{'success': task.complete, 'info' : !task.complete}">
                <span data-ng-bind="task.name"
                      class="task-name"></span>
                </td>
            </tr>
            <tr data-ng-repeat-end></tr>
        </table>
    </div>
</div>