html {
    overflow-y: scroll;
}

body {
    padding-top: 70px;
}


.task-highlighted {
    color: red;
    font-weight: bold;
}


.icon-button {
    padding: 0;
}
.complete-button {
    color: #5CB85C;
}
.complete-button:hover {
    color: #449D44;
}
.delete-button {
    color: #D9534F;
}
.delete-button:hover {
    color: #C9302C;
}

.task-tag {
    margin-top: 0.5em;
    margin-right: 0.5em;
}

.task-tag button {
    color: white;
}

.task-name {
    font-size: 1.2em;
    word-wrap: break-word;
    word-break: break-all;
}
.task-group {
    word-wrap: break-word;
    word-break: break-all;
}


.hr-small {
    margin-top: 8px;
    margin-bottom: 8px;
}

td {
    word-wrap: break-word;
    word-break: break-all;
}

.alert {
    margin-bottom: 0;
    padding-top: 4px;
    padding-bottom: 4px;
}

.visibility-hidden {
    visibility: hidden;
}

.active {
    border-bottom: 1px solid red;
}

.navbar-link {
    text-decoration: underline;
}

.application-description {
    font-size: 1.2em;
}