<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>Statistics<span class="small"> - data about your ToDoList.</span></h3>
        </div>
    </div>

    <h4>Stats by Group<span class="small"> - a breakdown of all tasks by group.</span></h4>
    <div class="row">
        <div class="col-xs-12">
            <div data-ng-include data-src="'modules/stats/StatsByGroupTable.html'"></div>
            <h3 data-ng-if="statsCtrl.operations.getStatsByGroup.status === 'LOADING'"
                class="text-center">
                <span class="fa fa-spin fa-spinner"></span> Loading stats...
            </h3>
            <h3 data-ng-if="statsCtrl.operations.getTasks.status === 'ERROR'"
                class="text-center">
                A server error occurred while loading stats by group.
            </h3>
        </div>
    </div>

    <h4>Stats by Tag<span class="small"> - a breakdown of all tasks by individual tags.</span></h4>
    <div class="row">
        <div class="col-xs-12">
            <div data-ng-include data-src="'modules/stats/StatsByTagTable.html'"></div>
            <h3 data-ng-if="statsCtrl.operations.getStatsByTag.status === 'LOADING'"
                class="text-center">
                <span class="fa fa-spin fa-spinner"></span> Loading stats...
            </h3>
            <h3 data-ng-if="statsCtrl.operations.getTasks.status === 'ERROR'"
                class="text-center">
                A server error occurred while loading stats by tag.
            </h3>
        </div>
    </div>
</div>