<!--
author: Joseph Gefroh
-->
<div class="row">
    <div class="col-xs-12">
        <h3>Statistics<span class="small"> - data about your ToDoList.</span></h3>
    </div>
</div>

<h4>Stats by Group<span class="small"> - a breakdown of all tasks by group.</span></h4>
<div class="row">
    <div class="col-xs-12">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th class="col-xs-8" data-ng-click="viewState.sortField = 'group'; viewState.isAscending = !viewState.isAscending">
                    Group
                            <span ng-show="viewState.sortField === 'group'">
                                <span ng-show="viewState.isAscending" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="!viewState.isAscending" class="glyphicon glyphicon-chevron-up"></span>
                            </span>
                </th>
                <th class="col-xs-1 text-center" data-ng-click="viewState.sortField = 'taskCount'; viewState.isAscending = !viewState.isAscending">
                    # Tasks
                            <span ng-show="viewState.sortField === 'taskCount'">
                                <span ng-show="viewState.isAscending" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="!viewState.isAscending" class="glyphicon glyphicon-chevron-up"></span>
                            </span>
                </th>

                <th class="col-xs-1 text-center" data-ng-click="viewState.sortField = 'remainingCount'; viewState.isAscending = !viewState.isAscending">
                    # Remaining
                            <span ng-show="viewState.sortField === 'remainingCount'">
                                <span ng-show="viewState.isAscending" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="!viewState.isAscending" class="glyphicon glyphicon-chevron-up"></span>
                            </span>
                </th>

                <th class="col-xs-1 text-center" data-ng-click="viewState.sortField = 'completedCount'; viewState.isAscending = !viewState.isAscending">
                    # Completed
                            <span ng-show="viewState.sortField === 'completedCount'">
                                <span ng-show="viewState.isAscending" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="!viewState.isAscending" class="glyphicon glyphicon-chevron-up"></span>
                            </span>
                </th>
                <th class="col-xs-1 text-center">
                    <button class="btn btn-xs btn-default table-button" data-ng-click="viewState.isShowingMinutes = !viewState.isShowingMinutes"><span class="glyphicon glyphicon-time"></span> {{ viewState.isShowingMinutes ? "To Hours" : "To Minutes"}} </button>
                    <div data-ng-click="viewState.sortField = 'totalTimeTracked'; viewState.isAscending = !viewState.isAscending">
                        {{ viewState.isShowingMinutes ? "Minutes" : "Hours"}} Tracked
                            <span ng-show="viewState.sortField === 'totalTimeTracked'">
                                <span ng-show="viewState.isAscending" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="!viewState.isAscending" class="glyphicon glyphicon-chevron-up"></span>
                            </span>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="groupStat in getGroupStats() | orderBy:viewState.sortField:viewState.isAscending">
                    <td> {{ groupStat.group }}</td>
                    <td class="text-center"> {{ groupStat.taskCount }}</td>
                    <td class="text-center"> {{ groupStat.remainingCount }}</td>
                    <td class="text-center"> {{ groupStat.completedCount }}</td>
                    <td data-ng-class="{'task-highlighted': task.isTracking, 'text-right':true}">
                        {{ viewState.isShowingMinutes
                        ? (groupStat.totalTimeTracked | msToMinutes)
                        : (groupStat.totalTimeTracked | msToHours:2)
                        }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>