<div class="row">
    <div class="col-xs-3 col-md-2">
        <div data-ng-include data-src="'modules/task/remaining/RemainingTasksActions.html'"></div>
    </div>
    <div class="col-xs-9 col-md-10">
        <div class="row">
            <div class="col-xs-6">
                <span data-ng-if="task.timestampDue"
                      data-ng-bind="task.timestampDue | date:'MMMM dd \'at\' h:mm a'"
                      class="small"></span>
                <span data-ng-if="!task.timestampDue"
                      data-ng-bind="task.timestampCreated | date:'\'Created\' MMMM dd \'at\' h:mm a'"
                      class="small"></span>
            </div>
            <div class="col-xs-6 text-right">
                Tracked for
                <a data-ng-click="remainingCtrl.viewState.isShowingMinutes = !remainingCtrl.viewState.isShowingMinutes"
                   style="cursor: pointer">
                    <span data-ng-if="remainingCtrl.viewState.isShowingMinutes"
                          data-ng-bind="(task.totalTimeTracked | msToMinutes) + ' minutes'"></span>
                    <span data-ng-if="!remainingCtrl.viewState.isShowingMinutes"
                          data-ng-bind="(task.totalTimeTracked | msToHours:2) + ' hours'"></span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                    <span data-ng-bind="task.name"
                          class="task-name"
                          data-ng-class="{'task-highlighted':task.tracking}"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <span data-ng-bind-html="remainingCtrl.trustHTML(task.description)"
                      data-ng-class="{'task-highlighted':task.tracking}"></span>
            </div>
        </div>
        <div data-ng-if="task.subtasks"
             class="row">
            <div class="col-xs-12">
                <h5>
                    Subtasks
                </h5>
            </div>
            <div class="col-xs-12">
                <table class="table table-condensed">
                    <tr data-ng-repeat="subtask in task.subtasks">
                        <td>
                            <button class="btn btn-default btn-success-outline"
                                    data-ng-if="!subtask.complete"
                                    data-ng-click="remainingCtrl.markComplete(subtask)"
                                    data-ng-disabled="task.readOnly || subtask.readOnly"
                                    title="Mark this subtask as completed.">
                                    <span data-ng-if="remainingCtrl.operations.markComplete.tasks[subtask.id].status !== 'LOADING'"
                                          class="fa fa-check"></span>
                                    <span data-ng-if="remainingCtrl.operations.markComplete.tasks[subtask.id].status === 'LOADING'"
                                          class="fa fa-spin fa-spinner"></span>
                            </button>
                            <button class="btn btn-default btn-success-outline"
                                    data-ng-if="subtask.complete"
                                    data-ng-click="remainingCtrl.markIncomplete(subtask)"
                                    data-ng-disabled="task.readOnly || subtask.readOnly"
                                    title="Mark this subtask as incomplete.">
                                    <span data-ng-if="remainingCtrl.operations.markIncomplete.tasks[subtask.id].status !== 'LOADING'"
                                          class="fa fa-reply"></span>
                                    <span data-ng-if="remainingCtrl.operations.markIncomplete.tasks[subtask.id].status === 'LOADING'"
                                          class="fa fa-spin fa-spinner"></span>
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-default btn-primary-outline"
                                    data-ng-click="remainingCtrl.showEditSubtask(subtask)"
                                    data-ng-disabled="task.readOnly || subtask.readOnly"
                                    title="Edit the details of this subtask.">
                                <span class="fa fa-pencil"></span>
                            </button>
                        </td>
                        <td class="col-xs-11"
                            data-ng-class="{'success': subtask.complete, 'warning' : !subtask.complete}">
                            <span data-ng-bind="subtask.name"
                                  data-ng-class="{'task-highlighted':task.tracking}"></span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div data-tag-display
             data-tags="task.tags"
             data-tags-to-filter-by="remainingCtrl.viewState.tagsToFilterBy"></div>
    </div>
</div>