<div class="text-center">
    <button class="btn btn-default btn-block btn-success-outline"
        data-ng-click="remainingCtrl.markComplete(task)"
        data-ng-disabled="task.readOnly"
        title="Mark this task as completed.">
        <span data-ng-if="remainingCtrl.operations.markComplete.tasks[task.id].status !== 'LOADING'"
              class="fa fa-check"></span>
        <span data-ng-if="remainingCtrl.operations.markComplete.tasks[task.id].status === 'LOADING'"
              class="fa fa-spin fa-spinner"></span>
        <span class="hidden-xs">Mark Complete</span>
    </button>
    <button class="btn btn-default btn-block btn-xs btn-primary-outline"
            data-ng-click="remainingCtrl.startTrackingTask(task)"
            data-ng-disabled="task.readOnly"
            title="Start a timer for this task."
            data-ng-show="!task.tracking"  >
            <span data-ng-if="remainingCtrl.operations.trackingUntracking.tasks[task.id].status !== 'LOADING'"
                  class="fa fa-clock-o"></span>
            <span data-ng-if="remainingCtrl.operations.trackingUntracking.tasks[task.id].status === 'LOADING'"
                  class="fa fa-spin fa-spinner"></span>
        <span class="hidden-xs">Start Timer</span>
    </button>
    <button class="btn btn-default btn-block btn-xs btn-primary-outline"
            data-ng-click="remainingCtrl.stopTrackingTask(task)"
            data-ng-disabled="task.readOnly"
            title="Stop the timer for this task."
            data-ng-show="task.tracking">
            <span data-ng-if="remainingCtrl.operations.trackingUntracking.tasks[task.id].status !== 'LOADING'"
                  class="fa fa-clock-o"></span>
            <span data-ng-if="remainingCtrl.operations.trackingUntracking.tasks[task.id].status === 'LOADING'"
                  class="fa fa-spin fa-spinner"></span>
        <span class="hidden-xs">Stop Timer</span>
    </button>
    <button class="btn btn-default btn-block btn-xs btn-primary-outline"
            data-ng-click="remainingCtrl.showEditTask(task)"
            data-ng-disabled="task.readOnly"
            title="Edit the details of this task.">
        <span class="fa fa-pencil"></span>
        <span class="hidden-xs">Edit</span>
    </button>
</div>