<div class="row">
    <div class="col-xs-2">
        <div data-ng-include data-src="'modules/task/remaining/RemainingTasksActions.html'"></div>
    </div>
    <div class="col-xs-10">
        <div class="row">
            <div class="col-xs-6">
                <span data-ng-bind="task.timestampDue | date:'MMMM dd \'at\' h:mm a'"
                      class="small"></span>
            </div>
            <div class="col-xs-6 text-right">
                Tracked for
                <a data-ng-click="remainingCtrl.viewState.isShowingMinutes = !remainingCtrl.viewState.isShowingMinutes"
                   style="cursor: pointer">
                    <span data-ng-if="remainingCtrl.viewState.isShowingMinutes"
                          data-ng-bind="(task.totalTimeTracked | msToMinutes) + ' minutes'"></span>
                    <span data-ng-if="!remainingCtrl.viewState.isShowingMinutes"
                          data-ng-bind="(task.totalTimeTracked | msToHours:2) + ' hours'"></span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-9">
                        <span data-ng-bind="task.group"
                              class="small task-group"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                    <span data-ng-bind="task.name"
                          class="task-name"
                          data-ng-class="{'task-highlighted':task.tracking}"></span>
            </div>
        </div>
        <div data-tag-display
             data-tags="task.tags"
             data-tags-to-filter-by="remainingCtrl.viewState.tagsToFilterBy"
             data-toggle-tag-filter="remainingCtrl.toggleTagFilter(tag)"></div>
    </div>
</div>