<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>Remaining Tasks<span class="small"> - tasks that you have not yet completed.</span></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-5">
            <div class="form-group">
                <label>Task</label>
                <input data-ng-model="remainingCtrl.viewState.input.name"
                       data-ng-disabled="remainingCtrl.operations.addTask.status === 'LOADING'"
                       data-ng-keypress="remainingCtrl.addTaskOnEnterKeyPressed(remainingCtrl.viewState.input, $event)"
                       class="form-control"
                       placeholder="Enter your task name or description..."
                       maxlength="500"/>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="form-group">
                <label>Group</label>
                <input data-ng-model="remainingCtrl.viewState.input.group"
                       data-ng-disabled="remainingCtrl.operations.addTask.status === 'LOADING'"
                       data-ng-keypress="remainingCtrl.addTaskOnEnterKeyPressed(remainingCtrl.viewState.input, $event)"
                       class="form-control"
                       placeholder="Enter a group name for this task..."
                       maxlength="500"/>
            </div>
        </div>
        <div class="col-xs-1">
            <button class="btn btn-success inline-button"
                    data-ng-click="remainingCtrl.addTask(remainingCtrl.viewState.input)"
                    data-ng-disabled="remainingCtrl.operations.addTask.status === 'LOADING'"
                    title="Add a new task to the To Do List."
                    style="margin-top: 24px;">
                <span data-ng-if="remainingCtrl.operations.addTask.status !== 'LOADING'" class="fa fa-plus"></span>
                <span data-ng-if="remainingCtrl.operations.addTask.status === 'LOADING'" class="fa fa-spin fa-spinner"></span>
                Add Task
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <label>Tags: </label>
            <div data-tag-display
                 data-tags="remainingCtrl.usedTags"
                 data-tags-to-filter-by="remainingCtrl.viewState.tagsToFilterBy"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="pull-right">
                <div class="btn-group">
                    <button data-ng-click="remainingCtrl.viewState.isAscending = !remainingCtrl.viewState.isAscending" class="btn btn-default">Sort by: {{ remainingCtrl.viewState.sortField.label }}</button>
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="btn btn-link" data-ng-click="remainingCtrl.viewState.sortField = {value:'name', label:'Task'}">Task</a></li>
                        <li><a class="btn btn-link" data-ng-click="remainingCtrl.viewState.sortField = {value:'group', label:'Group'}">Group</a></li>
                        <li><a class="btn btn-link" data-ng-click="remainingCtrl.viewState.sortField = {value:'timestampCreated', label:'Date Added'}">Date Added</a></li>
                        <li><a class="btn btn-link" data-ng-click="remainingCtrl.viewState.sortField = {value:'totalTimeTracked', label:'Total Time Tracked'}">Total Time Tracked</a></li>
                    </ul>
                </div>
                <button data-ng-click="remainingCtrl.viewState.isAscending = !remainingCtrl.viewState.isAscending"
                        class="btn btn-default">
                    <span ng-show="!remainingCtrl.viewState.isAscending" class="glyphicon glyphicon-chevron-down"></span>
                    <span ng-show="remainingCtrl.viewState.isAscending" class="glyphicon glyphicon-chevron-up"></span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div ng-repeat="task in remainingCtrl.tasks | filter: { complete: false}  | tagFilter:remainingCtrl.viewState.tagsToFilterBy | orderBy:remainingCtrl.viewState.sortField.value:!remainingCtrl.viewState.isAscending">
        <div data-ng-include data-src="'modules/task/remaining/RemainingTasksCard.html'"></div>
        <hr class="hr-small">
    </div>

    <div class="row">
        <h3 data-ng-if="remainingCtrl.operations.getTasks.status === 'LOADING'"
            class="text-center">
            <span class="fa fa-spin fa-spinner"></span> Loading tasks...
        </h3>
        <h3 data-ng-if="remainingCtrl.operations.getTasks.status === 'ERROR'"
            class="text-center">
            A server error occurred while loading tasks.
        </h3>
    </div>
</div>